body {
	background-color: seagreen;
	color: rgb(226 232 190);
    font-family: 'Xanh Mono', monospace;
	text-align: center;
}

h1, h2 {
	text-align: center;
	color: rgb(226 232 190);
}

h1 {
	font-size: 35px;
	font-weight: lighter;
    font-family: 'Sansita', sans-serif;}

h2 {
	font-size: 30px;
	font-family: 'Kite One', sans-serif;
	line-height: 0.3;
}

a{
   text-decoration: none;
   color: aliceblue;
   font-weight: 600;
   font-family: 'Xanh Mono', monospace;
   transition: color 0.3s ease;
   line-height: 2.5;

}
a:hover {
	color: darkslateblue;
}

.img-circle{
	border-radius: 50%;
	border: solid 5px darkseagreen;
}

#header {
	border: solid 13px darkseagreen;
	box-shadow: 0px 5px 10px;
}

div{
	background: #6ca771;
	position: relative;
	padding: 60px;
	margin: 50px;
	box-shadow:0px 5px 10px 0px rgba(52, 34, 54, 0.5);
	border-radius: 5px;
}

.box:hover{
	box-shadow:0px 5px 10px 0px rgba(52,34, 54, 0.5);
	transform: translateY(-10px);
}

.list-inline {
	list-style:none;
	padding-left:0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.btn-blue{
	background-color: aliceblue;
	color:#6f81a9;
	padding:15px 20px;
	border-radius:5px;
}

.btn-blue:hover{
	background-color:#6f81a9;
	color:aliceblue;
}

.list-inline i{
	font-size: 45px;
}

.list-inline i:hover{
	background-color: #a79c72;
}

#introduction p{
	margin-top: 20px;
	margin-bottom: 40px;
}